.calendar {
  border: 1px solid #ddd;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.calendar thead th,
.calendar tbody td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 16px;
}

.calendar tbody tr td {
  vertical-align: top;
  height: 120px;
}
